.nav>div{
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}
.nav{
    border:1px solid red;
}
.up{
    color:aquamarine;
    background-color: black;
}
.logo{
    width:80px;
    margin:10px;
    color:aquamarine;
    /* background-color: black; */
}
img{
    width:100%;
}
.empty{
    width:500px;
}
.search{
    width:700px;
    background-color: rgb(62, 60, 57);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:5px 20px;
    border-radius:60px;
}
.search input{
    background: transparent;
    box-sizing: border-box;
    /* width:90%; */
    flex:1;
    padding:10px ;
    font-size:20px;
    border:none;

}

.search button{
    border:none;
    background-color:rgb(184, 173, 133);
    padding:20px;
    margin:5px;
    border-radius: 50%;
    height: 60px; 
     width:60px;
}
.search button:hover{
    color:red;
background-color: yellow;
    cursor:pointer;
}

.submenu{
    /* display:flex; */
    border:1px solid rgb(0, 174, 255);
    line-height: 30px;
    font-size: 30px;
    /* margin:auto; */
    /* margin:5px 30px 5px 30px; */
    /* padding-left:30px; */
    color:rgb(255, 255, 255);
    background-color: black;
    /* padding:20px; */

}
.subcategory{
    display:flex;
    width:40%;
    justify-content:space-evenly;
    border:1px solid green;
    padding:20px;

}

.icons{
    display:flex;
    border:1px solid blue;
    width:480px;
    justify-content: space-evenly;
    padding:20px
}
.category{
    border:1px solid yellow;
    padding:20px
    
}
.logo img{
    border-radius:40%;
}

.hov:hover{
    cursor:pointer;
    color:rgb(189, 209, 231);
}

/* brands pics */
.brand_name{
    display:grid;
    grid-template-columns: repeat(4,1fr);
}

.brand_pic{
    width:200px;
    margin:auto;
}

h1{
    text-align:center;
}
.gift_pic{
    width:200px;
    margin:auto;
}
.gift{
    display:flex;
    /*  */
}
h1{
    text-align:center;
}
.holiday_special{
display: grid;
grid-template-columns: repeat(5,1fr);


}

.select_{
    display:none
}
.select_:hover{
    display:block
}






#footer{
    margin-top: 50px;
}
#footer > #footera{
display:grid ;
grid-template-columns: repeat(4,1fr);
font-size: 15px;
background-color: #252628;
color: whitesmoke;
padding-top: 40px;
padding-left: 80px;
height: 300px;
}
#footer > #footerb{
display: flex;
/* justify-content: ; */
}
#footerba{
    padding: 20px;
}

#footerbb{
    display: flex;
    justify-content: right;
    width: 50%;
   padding-left: 10px;
}