.nav>div{
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}
.nav{
    /* border:1px solid red; */
    position:sticky;
    z-index: 100;
    margin-top:0px;
}
.up{
    color:aquamarine;
    background-color: black;
}
.logo{
    width:80px;
    margin:10px;
    color:aquamarine;
    /* background-color: black; */
}
img{
    width:100%;
}
.empty{
    width:500px;
}
#search_enter{
    /* border:10px solid yellow */
    outline:0
}
.search{
    width:700px;
    background-color: rgb(62, 60, 57);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:5px 20px;
    border-radius:60px;
}
.search input{
    background: transparent;
    box-sizing: border-box;
    /* width:90%; */
    flex:1;
    padding:10px ;
    font-size:20px;
    border:0px;
    color:white
    

}

.search button{
    border:none;
    background-color:rgb(184, 173, 133);
    padding:20px;
    margin:5px;
    border-radius: 50%;
    height: 60px; 
     width:60px;
}
.search button:hover{
    color:rgb(51, 30, 30);
background-color: rgb(78, 133, 222);
    cursor:pointer;
}

.submenu{
    /* display:flex; */
    /* border:1px solid rgb(80, 109, 123); */
    line-height: 30px;
    font-size: 30px;
    /* margin:auto; */
    /* margin:5px 30px 5px 30px; */
    /* padding-left:30px; */
    color:rgb(255, 255, 255);
    background-color: rgb(108, 61, 61);
    /* padding:20px; */

}
.subcategory{
    display:flex;
    width:40%;
    justify-content:space-evenly;
    /* border:1px solid green; */
    padding:20px;

}

.icons{
    display:flex;
    /* border:1px solid blue; */
    width:480px;
    justify-content: space-evenly;
    padding:20px
}
.category{
    /* border:1px solid rgb(61, 61, 53); */
    padding:20px
    
}
.logo img{
    border-radius:50%;
}

.hov:hover{
    cursor:pointer;
    color:rgb(189, 209, 231);
}
.sub{
    display:none
}
.submenu .hov:hover .sub{
    display:block;
    position:absolute;
    background-color: rgb(3, 3, 3);
    
    }
    .sub ul{
        margin: 20px;
        /* margin: top 4px;0px; */
    }
    .sub ul li{
        padding:5px
    }
    .category .sub:hover ul{
        display:block;
    }
    li{
        list-style:none;
        margin-top:10px;
        margin-left:-30px;
    
    }

    #link{
        text-decoration: none;
        color:#eef2fb
    }
    

    /* -------------append------------ */


    .main{
        display:grid;
        grid-template-columns:repeat(4,1fr);
        gap:100px;
        margin:auto;
        margin-top:0px;
        /* border: 1px solid rgb(11, 10, 7); */
    }

    .card{
        width:300px;
        margin:auto;
        margin:20px;
        padding: 25px;;
    }

    .card>img{
        width:100%;
        height:300px;
    }

    button{
        border:0px;
        color:goldenrod;
        background-color: rgb(53, 59, 62);
        border-radius: 40px;
        width:50%;
        padding:5px;
    }
    a{
        color:white
    }
    a:hover{
        text-decoration: none;
        color:rgb(189, 209, 231);
    }
    .main{
        margin-top:30px;
    }

    #filtering ,#sorting{
        margin-top:30px;
        margin-left:50px;
        border:0px;
        background-color: rgb(123, 176, 158);
        padding:5px 20px 5px 20px;
        border-radius:40px;
        background-color: transparent;
        border:2px solid rgb(172, 137, 20)
    }
    #filtering>option,#sorting>option{
        padding-top:20px;
        margin:20px;
        background-color: transparent;
        
    }
    .hv:hover{
        cursor:pointer;
    }
    option:hover{
        background-color: gold;
    }
    option{
        margin:40px;
        background-color: transparent;
    }

    /* -----cart------ */

    
    .show_count{
        background-color: red;
        width:25px;
        height:25px;
        border-radius:50%;
        /* margin:-30px; */
        margin-left:-120px;
        /* margin-right:-150px */
        margin-top:-25px;
        text-align:center
    }

    .card{
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
/* background of select */
    .back{
        background-color:rgb(240, 230, 119);
        /* width:50px; */
        height:100px;
    }